body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u767 {
  position:fixed;
  left:50%;
  margin-left:-500px;
  top:50px;
}
#u767_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1000px;
  height:743px;
  background-image:none;
}
#u767_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:743px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:743px;
  opacity:0.45;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:706px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:20px;
  width:749px;
  height:706px;
  opacity:0.9;
  text-align:center;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:345px;
  width:749px;
  word-wrap:break-word;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:20px;
  width:196px;
  height:269px;
  opacity:0.8;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:74px;
  width:155px;
  height:24px;
  opacity:0.8;
  text-align:left;
}
#u778_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u778.mouseOver {
}
#u778_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u778.mouseDown {
}
#u779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:151px;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:74px;
  width:155px;
  height:24px;
  opacity:0;
  text-align:left;
}
#u780_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u780.mouseOver {
}
#u780_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u780.mouseDown {
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:74px;
  width:23px;
  height:24px;
  opacity:0.8;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:31px;
  width:155px;
  height:34px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:2px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:63px;
  width:155px;
  height:1px;
  opacity:0.8;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:419px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:307px;
  width:196px;
  height:419px;
  opacity:0.8;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:202px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:364px;
  width:155px;
  height:24px;
  opacity:0.8;
  text-align:left;
}
#u793_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u793.mouseOver {
}
#u793_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u793.mouseDown {
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:151px;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:364px;
  width:155px;
  height:24px;
  opacity:0;
  text-align:left;
}
#u795_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u795.mouseOver {
}
#u795_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u795.mouseDown {
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:364px;
  width:23px;
  height:24px;
  opacity:0.8;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:320px;
  width:155px;
  height:34px;
  font-size:11px;
  color:#666666;
  text-align:left;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:2px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:353px;
  width:155px;
  height:1px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
