body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186 {
  position:fixed;
  left:50%;
  margin-left:-260.5px;
  top:50%;
  margin-top:-156px;
  width:521px;
  height:312px;
  overflow:hidden;
}
#u186_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:312px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u186_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.588235294117647);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:312px;
  text-align:left;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:148px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#797979;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:43px;
  width:365px;
  height:33px;
  font-size:28px;
  color:#797979;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:256px;
  width:134px;
  height:34px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u191_img.mouseOver {
}
#u191.mouseOver {
  opacity:0.8;
}
#u191_img.mouseDown {
}
#u191.mouseDown {
}
#u191_img.disabled {
}
#u191.disabled {
  opacity:0.5;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:256px;
  width:134px;
  height:34px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u193_img.mouseOver {
}
#u193.mouseOver {
  opacity:0.8;
}
#u193_img.mouseDown {
}
#u193.mouseDown {
}
#u193_img.disabled {
}
#u193.disabled {
  opacity:0.5;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:180px;
  width:103px;
  height:32px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u196_img.mouseOver {
}
#u196.mouseOver {
  opacity:0.8;
}
#u196_img.mouseDown {
}
#u196.mouseDown {
}
#u196_img.disabled {
}
#u196.disabled {
  opacity:0.5;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:176px;
  width:243px;
  height:40px;
  text-align:left;
}
#u198_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u198.selected {
}
#u199 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:185px;
  width:221px;
  height:23px;
}
#u200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:107px;
  width:365px;
  height:40px;
  text-align:left;
}
#u202_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u202.selected {
}
#u203 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:116px;
  width:340px;
  height:23px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:226px;
  width:197px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:50px;
  overflow:hidden;
}
#u208_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u208_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(21, 96, 132, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:fixed;
  left:50%;
  margin-left:-47.5px;
  top:0px;
}
#u211_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
  background-image:none;
}
#u211_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:5px;
  width:65px;
  height:40px;
  font-family:'Segoe Print';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
