body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
textarea {
  resize:none;
}
#base {
  position:absolute;
  z-index:0;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:397px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:50px;
  width:766px;
  height:397px;
  font-size:11px;
  color:#666666;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:200px;
  height:275px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:107px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:66px;
  width:107px;
  height:107px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Negreta', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:186px;
  width:116px;
  height:37px;
  font-family:'Century Gothic Negreta', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:248px;
  width:148px;
  height:36px;
  font-size:11px;
  color:#666666;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:144px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:221px;
  width:19px;
  height:19px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:2px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:184px;
  width:172px;
  height:1px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:107px;
  width:703px;
  height:228px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:699px;
  word-wrap:break-word;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#006285;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:66px;
  width:190px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#006285;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:617px;
  width:766px;
  height:210px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:635px;
  width:700px;
  height:107px;
}
#u748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:768px;
  width:75px;
  height:31px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u749_img.mouseOver {
}
#u749.mouseOver {
  opacity:0.8;
}
#u749_img.mouseDown {
}
#u749.mouseDown {
}
#u749_img.disabled {
}
#u749.disabled {
  opacity:0.5;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:466px;
  width:766px;
  height:133px;
  font-size:11px;
  color:#666666;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:469px;
  width:50px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:495px;
  width:148px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.737254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:531px;
  width:705px;
  height:54px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:395px;
  width:172px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:395px;
  width:193px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:395px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:395px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
