body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u647 {
  position:fixed;
  left:50%;
  margin-left:-500px;
  top:50px;
  width:1000px;
  height:1800px;
  overflow:hidden;
}
#u647_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1800px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u647_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1450px;
  width:1000px;
  height:350px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1470px;
  width:900px;
  height:300px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:1720px;
  width:100px;
  height:36px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u653_img.mouseOver {
}
#u653.mouseOver {
  opacity:0.8;
}
#u653_img.mouseDown {
}
#u653.mouseDown {
}
#u653_img.disabled {
}
#u653.disabled {
  opacity:0.5;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1518px;
  width:860px;
  height:192px;
}
#u655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:192px;
  resize:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:1000px;
  height:1200px;
  overflow:hidden;
}
#u656_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.329411764705882);
  background-image:none;
}
#u656_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1200px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:592px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#006285;
  text-align:left;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:20px;
  width:217px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#006285;
  text-align:left;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:213px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:2px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:82px;
  width:650px;
  height:1px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:20px;
  width:17px;
  height:25px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:51px;
  width:59px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:51px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:52px;
  width:100px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:20px;
  width:20px;
  height:23px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:51px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:51px;
  width:23px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#006285;
  text-align:left;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:100px;
  width:217px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#006285;
  text-align:left;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:213px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:2px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:162px;
  width:650px;
  height:1px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:100px;
  width:17px;
  height:25px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:131px;
  width:59px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:131px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:132px;
  width:100px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:100px;
  width:20px;
  height:23px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:131px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:131px;
  width:23px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:1000px;
  height:50px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:207px;
  width:91px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006285;
  text-align:center;
}
#u699_img.mouseOver {
}
#u699.mouseOver {
}
#u699_img.mouseDown {
}
#u699.mouseDown {
}
#u699_img.selected {
}
#u699.selected {
}
#u700 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:207px;
  width:91px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006285;
  text-align:center;
}
#u701_img.mouseOver {
}
#u701.mouseOver {
}
#u701_img.mouseDown {
}
#u701.mouseDown {
}
#u701_img.selected {
}
#u701.selected {
}
#u702 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:207px;
  width:91px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006285;
  text-align:center;
}
#u703_img.mouseOver {
}
#u703.mouseOver {
}
#u703_img.mouseDown {
}
#u703.mouseDown {
}
#u703_img.selected {
}
#u703.selected {
}
#u704 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:207px;
  width:91px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006285;
  text-align:center;
}
#u705_img.mouseOver {
}
#u705.mouseOver {
}
#u705_img.mouseDown {
}
#u705.mouseDown {
}
#u705_img.selected {
}
#u705.selected {
}
#u706 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:200px;
  background:inherit;
  background-color:rgba(232, 231, 231, 0.858823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:200px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:200px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:200px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1483px;
  width:159px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:left;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:270px;
  width:200px;
  height:275px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:487px;
  width:100px;
  height:36px;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:451px;
  width:100px;
  height:36px;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:107px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:284px;
  width:107px;
  height:107px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Negreta', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:404px;
  width:116px;
  height:37px;
  font-family:'Century Gothic Negreta', 'Century Gothic Normal', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:2px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:402px;
  width:172px;
  height:1px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
