body
{
    margin: 0;
    padding: 0;
}

#bg
{
    width: 100%;
    height: 100%;
    position: fixed;
}

#navigation
{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5%;
    background-color: #006285;
    z-index: 1;
}

#logo
{
    position: relative;
    float: left;
    width: 8%;
    height: 80%;
    margin: 0;
    top: 10%;
    left: 13%;
}

#logo img
{
    width: 100%;
    height: 100%;
}

#searchBarContainer
{
    position: relative;
    float: left;
    width: 15%;
    height: 60%;
    left: 13%;
    top: 20%;
    margin: 0;
    background-color: #ffffff;
    border-radius: 5px;
}

#nav_searchImg
{
    position: relative;
    margin: 2%;
    height: 70%;
    width: 8%;
}

#nav_search_input
{
    position: relative;
    float: right;
    height: 70%;
    width: 88%;
    border: 0;
    margin: 2% 0;
    padding: 0;
    font-size: 80%;
    font-family: '微软雅黑';
    color: #cccccc;
    outline: none;
}

#nav_search_input:focus
{
    color: #333333;
}

#signoutContainer
{
    position: relative;
    background: url("../../images/home/icon/signout.png");
    background-size: 100% 100%;
    float: right;
    width: 2.5%;
    height: 80%;
    margin: 0;
    right: 13%;
    top: 10%;
    border-radius: 5px;
}

#signoutContainer:hover
{
    background-image: url("../../images/home/icon/signout_hover.png");
}

#signoutContainer img
{
    height: 70%;
    margin: 10% 20%;
}

.navFormat
{
    position: relative;
    float: right;
    width: 5%;
    height: 80%;
    margin: 0.25%;
    right: 17%;
    border-radius: 5px;
    background-size: 100% 100%;
    transition: 100ms linear;
}

.navFormat img
{
    height: 60%;
    margin: 10% 10%;
}

#activity
{
    background-image: url("../../images/home/icon/activity_on.png");
}

#relation
{
    background-image: url("../../images/home/icon/relation.png");
}

#forum
{
    background-image: url("../../images/home/icon/forum.png");
}

#message
{
    background-image: url("../../images/home/icon/message.png");
}

#inform
{
    background-image: url("../../images/home/icon/inform.png");
}

#self
{
    background-image: url("../../images/home/icon/self.png");
}

#floatMessageContainer
{
    position: fixed;
    float: right;
    bottom: 0;
    right: 10%;
    z-index: 1;
}

#floatMessage
{
    position: relative;
    width: 200px;
    height: 30px;
    background-color: white;
    box-shadow: 0 0 10px #333333;
    z-index: 2;
}

#floatMessage span
{
    position: relative;
    left: 10px;
    top: 5px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #333333;
}

#hiddenMessage
{
    position: relative;
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 15px #333333;
    display: none;
}

#contentLoadContainer
{
    position: absolute;
    top: 5%;
    width: 100%;
    height: 95%;
}