body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1151 {
  position:fixed;
  left:50%;
  margin-left:-470px;
  top:50px;
  width:940px;
  height:916px;
  overflow:hidden;
}
#u1151_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:916px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1151_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:916px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:916px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:450px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:646px;
  width:425px;
  height:200px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:655px;
  width:81px;
  height:29px;
  font-size:15px;
  color:#666666;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:2px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:683px;
  width:191px;
  height:1px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:694px;
  width:300px;
  height:128px;
  color:#999999;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:646px;
  width:425px;
  height:200px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:655px;
  width:81px;
  height:29px;
  font-size:15px;
  color:#666666;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:2px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:683px;
  width:191px;
  height:1px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:694px;
  width:300px;
  height:128px;
  color:#999999;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:436px;
  width:860px;
  height:200px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:443px;
  width:81px;
  height:29px;
  font-size:15px;
  color:#666666;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:482px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:517px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:552px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:587px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:482px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:517px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:552px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:587px;
  width:60px;
  height:35px;
  color:#999999;
  text-align:center;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:482px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:517px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:552px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:587px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:482px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:517px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:552px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:587px;
  width:200px;
  height:35px;
  color:#999999;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:2px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:471px;
  width:191px;
  height:1px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:221px;
  width:860px;
  height:205px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:204px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:17px;
  width:860px;
  height:204px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:326px;
  width:239px;
  height:40px;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:239px;
  word-wrap:break-word;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:366px;
  width:239px;
  height:28px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:239px;
  word-wrap:break-word;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:40px;
  width:663px;
  height:35px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:663px;
  word-wrap:break-word;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:192px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:116px;
  width:192px;
  height:192px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:863px;
  width:102px;
  height:36px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1227_img.mouseOver {
}
#u1227.mouseOver {
  opacity:0.8;
}
#u1227_img.mouseDown {
}
#u1227.mouseDown {
}
#u1227_img.disabled {
}
#u1227.disabled {
  opacity:0.5;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:863px;
  width:102px;
  height:36px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1229_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1229.mouseOver {
  opacity:0.8;
}
#u1229_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1229.mouseDown {
}
#u1229_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1229.disabled {
  opacity:0.5;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:863px;
  width:102px;
  height:36px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1231_img.mouseOver {
}
#u1231.mouseOver {
  opacity:0.8;
}
#u1231_img.mouseDown {
}
#u1231.mouseDown {
}
#u1231_img.disabled {
}
#u1231.disabled {
  opacity:0.5;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
