body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:50%;
  margin-left:-223px;
  top:50%;
  margin-top:-130px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:446px;
  height:260px;
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.588235294117647);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:260px;
  text-align:left;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri';
  font-weight:300;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:28px;
  width:261px;
  height:22px;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri';
  font-weight:300;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light Italic', 'Calibri Regular', 'Calibri';
  font-weight:300;
  font-style:italic;
  font-size:16px;
  color:#059FBB;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:216px;
  width:123px;
  height:19px;
  font-family:'Calibri Light Italic', 'Calibri Regular', 'Calibri';
  font-weight:300;
  font-style:italic;
  font-size:16px;
  color:#059FBB;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:216px;
  width:100px;
  height:19px;
  font-family:'Calibri Light', 'Calibri Regular', 'Calibri';
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:120px;
  width:360px;
  height:40px;
  text-align:left;
}
#u11_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u11.selected {
}
#u12 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:129px;
  width:335px;
  height:23px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:70px;
  width:360px;
  height:40px;
  text-align:left;
}
#u15_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
}
#u15.selected {
}
#u16 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:79px;
  width:335px;
  height:23px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:170px;
  width:102px;
  height:36px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18.mouseOver {
  opacity:0.8;
}
#u18_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18.mouseDown {
}
#u18_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18.disabled {
  opacity:0.5;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:170px;
  width:102px;
  height:36px;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20.mouseOver {
  opacity:0.8;
}
#u20_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 98, 133, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'Footlight MT Light', 'Footlight MT';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20.mouseDown {
}
#u20_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20.disabled {
  opacity:0.5;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:50px;
  overflow:hidden;
}
#u23_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(21, 96, 132, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:fixed;
  left:50%;
  margin-left:-47.5px;
  top:0px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
  background-image:none;
}
#u26_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:5px;
  width:65px;
  height:40px;
  font-family:'Segoe Print';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:40px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
